<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Lista de Ordem</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Acessar</h1>
		</div>

		<div class="panel-body">
			<form class="form-inline" method="POST" th:action="@{/cadastro}" th:object="${ordem}" style="margin: 20px 0">
				<input type="text" class="form-control" id="matricula" th:field="*{matricula}" placeholder="matricula" />
				<button type="submit" class="btn btn-primary">Levantar mão</button>
			</form>

			
		</div>
	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>